@import "~bootstrap/scss/bootstrap";

$breakpoint-tablet: 768px;

.star-background {
  background-image: url("https://i.imgur.com/rS7vexK.png");
  background-size: 100% 100%;

  @media (min-width: $breakpoint-tablet) {
    height: 100vh;
  }
}
